*{
    font-family: 'Roboto', sans-serif;
}
:root {
    --main-color: #658eff
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.header {
    padding-top: 50px;
    padding-bottom: 50px;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    padding: 1em 3em;
}
.main-logo {
    color: var(--main-color);
    font-size: 35px;
}
.create-btn {
    display: block;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0.5em;
    border-radius: 3px;
    border: none;
    background-color: #fff;
}
.create-btn:hover {
    color: white;
    background-color: var(--main-color);
    transition: 0.3s;
}
.deck {
    margin-bottom: 2em;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    overflow-y: auto;
    position: relative;
}
.message {
    color: var(--main-color);
    letter-spacing: 1px;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal_container {
    padding: 20px;
    background-color: #fff;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    max-width: 700px;
    cursor: initial;
}
.fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}
.modal-text {
    padding: 0.5em 0;
}
select, input[type="text"], input[type="number"], input[type="date"], textarea {
    padding: 0.5em 0.5em;
    margin-left: 0.5em;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 2px;
    width: 300px;
}
.btn-close-modal {
    cursor: pointer;
    font-size: 20px;
}
.wrapper-btn-close {
    text-align: right;
}
.wrapper-span {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.modal-btn-append-wrapper, .modal-single-text {
    text-align: center;
}
.modal-single-text {
    margin-bottom: 20px;
}
.modal-single-red-text{
   padding-top: 20px;
    color: red;

}
.btn-append {
    display: inline-block;
    border: 1px solid var(--main-color);
    margin-top: 30px;
    cursor: pointer;
}
/*======= VISIT CARD STYLES======*/
.card {
    display: inline-block;
    width: 390px;
    cursor: pointer;
}
.card-wrapper {
    padding: 20px;
    background-color: var(--main-color);
    border: 3px solid white;
    border-radius: 5px;
    color: white;
}
.card-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 10px 0;
}
.card-header {
    font-size: 20px;
    font-weight: 700;
}
.card-btn-close{
    font-size: 24px;
    cursor: pointer;
}
.card-text-left {
    margin: 15px 0;
    text-align: left;
}
.card-data {
    padding-left: 10px;
    font-weight: 700;
}
.card-more-details, .card-toggle-details {
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid white;
}
/*=========clear local storage btn=========*/
.wrapper-clear-btn {
    text-align: center;
    margin: 30px 0;
}